<%= form_for :todo, url: todo_path(@todo), method: :patch do |f| %>

<h1>Editar tarea</h1>
  <p>
    <%= f.label :Escribir_en_el_recuadro_siguiente %><br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', todos_path %>

